@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&display=swap');

body {
    background-color: #fcfbfb;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-title,
.msg h2 {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

.book, .join {
    font-size: 18px;
}

.msg p {
    font-size: 0.8em;
}

.msg {
    background-color: #f2f2f2;
    line-height: 1.5em;
    padding: 35px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fcfbfb;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

nav a {
    padding: 35px;
}

.book, .join {
    padding: 15px 30px;
}

.icon {
    padding-top: 10px;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    margin-top: 10px;
}

.book, .join {
    margin-top: 50px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    margin-top: 200px;
}

.book, .join {
    border-radius: 5px;
}

.card-img {
    border: 10px solid #4CAF50; /* or another color from your site plan */
}

main section img {
    box-sizing: border-box;
}


/* Limit width and center content */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Center elements */
nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section {
    text-align: center;
}

/* Background container */
#background {
    height: 725px;
    background-color: #eee; /* change as needed */
}

/* Background colors */
body {
    background-color: #fcfbfb;
}
header {
    background-color: rgba(20, 30, 13, 0.7);
}
nav a:hover {
    background-color: black;
}
.book, .join {
    background-color: #4CAF50;
}
.book:hover, .join:hover {
    background-color: #388E3C;
}
.msg {
    background-color: #f2f2f2;
}
footer {
    background-color: #222;
}

/* Text colors */
nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    color: #d9c2a3;
}
.home-title, h4,
.msg h2, .msg p,
.book, .join,
.book:hover, .join:hover,
footer, footer a {
    color: #fff;
}
footer p {
    font-size: 1.2em;
}
footer a {
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}

/* Image widths */
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {

    width: 100%;}
